.header{
    display: flex;
    flex-wrap: wrap;
    background-color: #1A4682;
    justify-content: space-evenly;
    padding: 20px 0px;
}

.header__main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.header__logo{
    width: 150px;
    padding-right: 20px;
    position: relative;
    top: 5px;
}

.header__text{
    color: white;
}

.header__title{
    border-bottom: 2px solid white;
}

.header__subtitle{
    margin-top: -15px;
}

.header__nav{
    display: flex;
    margin-top: -5px;
}

.header__nav__list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 20px;
}

.header__nav__item a{
    font-size: 1.2rem;
    
    color: white;
    text-decoration: none;
    border: 2px solid white;
   
    border-radius: 20px;
    padding: 2px 20px;
    font-weight: bolder;
    transition: 400ms ease-in-out;
    cursor: pointer;
}
.header__nav__item{
    transition: 400ms ease-in-out;
}
.header__nav__item:hover{
    transition: 400ms ease-in-out;
    transform: translateY(-10px);
    box-shadow: 8px 8px 8px rgba(0,0,0,0.4);
}

.header__nav__item a:hover{
    background-color: white;
    color: #1A4682;
    transform: translateY(-10px);
    box-shadow: 8px 8px 8px rgba(0,0,0,0.4);
}

/*Responsive*/

@media only screen and (max-width: 1071px){
    .header__nav__list{
        padding: initial;
    }
}

@media only screen and (max-width: 700px){
    .header__nav__item a{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 505px){
    .header{
        display: flex;
        flex-direction: column;
    }
    
    .header__main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
    .header__text{
        text-align: center;
    }

    .header__nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__nav__list{
        display: none;
        padding: initial;
    }

    .header__nav__item a{
        font-size: 0.8rem;
    }
}

